version: '2'
services:
  nginx:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  webapp:
    user: ${UID_VAR}:${GID_VAR}
    image: node
    working_dir: /app
    command: npm start
    volumes:
      - ./client:/app
    depends_on:
      - server
  server:
    user: ${UID_VAR}:${GID_VAR}
    build: server
    command: npm start
    volumes:
      - ./server:/app
    depends_on:
      - db
  db:
      image: mysql:5.7
      volumes:
        - mysql_data:/var/lib/mysql
        - ./docker/mysql/config.cnf:/etc/mysql/conf.d/config.cnf
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
  phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
          - 8183:80
        links:
          - db
volumes:
  mysql_data:
